header{
    display:flex;
    align-items:center;
    justify-content:space-between;
     background-color: #1F2937;
    padding: 10px 80px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}
nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.start{
    background-color: #3882F6;
    color: white;
    border: none;
    padding:10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
.hero{
    display:flex;
    justify-content:space-between;
     align-items:flex-start;
    background-color:#1F2937;
    padding:30px 80px;
    gap:30px;
}
.herotext{
    flex:1;
    max-width:500px;
    padding-left:120px;
}
.herotext h1{
    color:#F9FAF8;
    font-size:48px;
    font-weight:900;
    margin-top:0;
     margin-bottom:5px;
     
}
.herotext p{
    color:#E5E7EB;
    font-size:18px;
    line-height:1.6;
    margin-bottom:20px;
    margin-top:0;
}
.heroimg{
    flex:1;
    display:flex;
    justify-content:center;
}
.heroimg img{
    width:100%;
    max-width:500px;
    height:auto;
}
.Cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}
.card{
    display:flex;
    flex-direction:column;
}
.card img{
    width:200px;
    height:200px;
    border-radius:15px;
    object-fit:cover;
}
.information h2{
    text-align:center;
    font-size:36px;
    color:#1F2937;
    font-weight:900px;
}
.Cards p{
  font-size:18px;
     color:#555;
    text-align:center;
    margin-top:6px;
}
.Quote{
     background-color: #E5E7EB;
    align-items:center;
   display:flex;
    padding:60px 350px 60px 350px;
    flex-direction: column;
}
.quote{
    font-style: italic;
    font-size:36px;
    color:#1F2937;
    font-weight:300;
}
.author{
    font-size:25px;
    font-weight:bold;
     text-align:right;
     padding-left:600px;
     margin-top:0;
}
.cta{
    background-color: #ffff;
    padding:80px;
}
.ctabox{
    background-color:#3882F6;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    padding:50px 80px;
    gap:100px;
}
.ctatext h2{
   color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-bottom:5px;
}
.ctatext p{
     color: #E5E7EB;
    font-size: 18px;
    margin-top:0;
}
.button{
   background: transparent;
    color: white;
    border: 2px solid white;
     border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.ctabox button:hover{
    background: white;
    color: #3882F6;
}
body {
    margin: 0;
}
footer{
    background-color:#1F2937;
    padding:40px;
    text-align:center;
}
footer p{
    color:#F9FAF8;
    font-size:18px;
}